body{
    font-family: serif, "Segoe UI";
    background-color: rgba(235, 227, 215, 0.83);
    color: #1c0050;
}

/* header */

header{
    text-align: center;
    color: #0c0050;
    background-image: url(images/nitech.jpg);
    background-repeat: repeat-x;
    background-size: 30rem;
    width: 50vw;
    margin: 0 auto;
}

.topChar{
    font-size: 1.3rem;
    font-weight: bolder;
    
}

.topChar p{
    background-color: rgba(255, 255, 255, 0.76);
    text-align: center;
}

/* subHeader ------*/
.subHeader{

}

.menuSub{
    display: flex;
    background-color: rgba(209, 255, 232, 0.76);
}
.menuSub p{
    font-size: 1.5rem;;
    font-family: "Meiryo";
    margin: auto;
}

.menuSub a{
    color: #e86300;
}
.menuSub a:hover{
    color: #b74e00;
}

/* main */

#MainContainer{
    display: flex;
    flex-direction: column;
    
}

.MainBox{
    width: 42vw;
    min-width: 470px;
    border: 2px #00800a dashed;
    background-color: rgba(245, 255, 249, 0.79);
    margin: 5px;
}


.MainBox h2{
    border-bottom: 1px black solid;
    width: 42vw;
    font-family: 'Yu Gothic';
}

.MainBox p{
    font-family: 'Meiryo';
}

.MainBox a{
    color: #e86300;
}

.MainBox a:hover{
    color: #b74e00;
}

#mainBox1{
    margin-left: 30vw;
}

#mainBox2{
    margin-left: 32vw;
}

#mainBox3{
    margin-left: 34vw;
}

#mainBox4{
    margin-left: 36vw;
    
}

.infoContainer{
    display: flex;
}

.infoItem img{
    width: 25%;
    height: auto;
    min-width: 120px;
    padding: 10px 10px 10px 10px;
    margin-left: 4px;
    border: 4px #e86300 double;
    border-radius: 20px;
    background-color: #fafafa;
}

#tajimi img{
    margin-left: 10px;
    margin-top: 10px;
}

/*
#tani img{
    box-sizing: content-box;
    position:absolute;
    width: 6%;
    right: 25vw;
    top: 610px;
    padding: 10px 10px 10px 10px;
    margin-left: 4px;
    border: 4px #e86300 double;
    border-radius: 20px;
    background-color: #fafafa;
}
*/

.links{
    text-align: center;
    margin: 0 auto;
    width: 50vw;
}

.accountLink{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    width: 50vw;
}

.linkItem button{
    justify-content: space-between;
    margin: 0 10px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
}

#linkitem1 button{
    color: white;
    background-color: #00acee;
    border: 1px #00acee outset;
}

#linkitem1 button:hover{
    color: white;
    background-color: #0093ff;
}

#linkitem2 button{
    color: #cc0000;
    background-color: white;
}

#linkitem2 button:hover{
    color: #ff0000;
    background-color: #f4f4f4;
}

#linkitem3 button{
    color: #fefff2;
    background-color: #21d458;
}

#linkitem3 button:hover{
    color: #fff1f2;
    background-color: #00aa1a;
}

/* Identification ------*/
#info{
    text-align: center;
}

#info h1{
    font-family: "Yu Gothic", "Segoe UI";
    color: #1c0050;
    width: 50vw;
    font-weight: bolder;
    border-bottom: 3px #ef8305 solid;
    margin: 0 auto;
}

#infoTable{
    margin: 0 auto;
    width: 50vw;
    font-family: "Meiryo";
    background-color: rgba(250, 255, 244, 0.8);
    border: 4px #1d0045 solid;
}

#infoTable th,td{
    font-size: 1.4rem;
    padding: 10px;
    border: 2px #155000 solid;
}

#infoTable a{
    color: #e86300;
}

#infoTable a:hover{
    color: #b74e00;
}

.noImage{
    background-color: white;
    border-radius: 20px;
}

.toTop{
    font-size: 30px;
    margin: 10px auto;
    width: 50vw;
    text-align: left;
}

.toTop a{
    color: #e86300;
}
.toTop a:hover{
    color: #b74e00;
}

/* milestone ------*/
#milestone{
    text-align: center;
    width: 50vw;
    margin: 0 auto;
}

#milestone h2{
    font-family: "Yu Gothic", "Segoe UI";
    color: #1c0050;
    width: 50vw;
    font-size: 2rem;
    font-weight: bolder;
    border-bottom: 3px #ef8305 solid;

}

#TownContainer{
    display: flex;
    flex-direction: column;
}

.TownItem{
    display: flex;
    font-family: "Meiryo";
    border-left: 8px #e86300 solid;
    border-right: 2px #b74e00 solid;

    background-color: rgba(235, 253, 237, 0.85);
}

.item1{
    flex-direction: column;
    width: 100%;
    border-bottom: 2px #b74e00 dashed;
    border-top: 2px #b74e00 solid;
}
.item1 p{
    background-color: #f9fffe;
}
.item1 img{
    width: 250px;
    height: 250px;
    margin: 20px;
    object-fit: cover;
    object-position: bottom;
}

.item2{
    border-bottom: 2px #b74e00 dashed;
}
.item2 p{
    background-color: #f9fffe;
}
.item2 img{
    width: 250px;
    height: 250px;
    margin: 20px;
    object-fit: cover;
}

.item3 img{
    width: 250px;
    height: 250px;
    object-fit:contain;
}

.item3 p{
    background-color: #f9fffe;
}

.item3{
    border-bottom: 2px #b74e00 dashed;
}

.item4{
    border-bottom: 2px #b74e00 solid;
}

.item4 p{
    background-color: #f9fffe;
}

.item4 img{
    width: 310px;
    height: 300px;
    object-fit: cover;
    margin: 10px;

}

.highschool{
    display: flex;
    font-family: "Meiryo";
    margin: 10px 0;
    border-top: 2px #b74e00 solid;
    border-left: 8px #e86300 solid;
    border-bottom: 2px #b74e00 solid;
    border-right: 2px #b74e00 solid;
    background-color: rgba(235, 253, 237, 0.85);
}
.highschool img{
    width: 30%
}
.highschool p{
    background-color: #f9fffe;
}

/* present ------*/
#present {
    width: 50vw;
    margin: 0 auto;
    font-family: "Meiryo";
}

.contents h2{
    font-family: "Yu Gothic", "Segoe UI";
    color: #1c0050;
    width: 50vw;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    border-bottom: 3px #ef8305 solid;
}

.contents h3{
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 2px green solid;
}

#present h4{
    font-size: 1.25rem;
    border-bottom: 1px black solid;
    padding: 5px;
    margin-top: 0;
}

.character{
    background-color: rgba(235, 253, 237, 0.85);
    padding: 10px;
    border: 2.5px #ef8305 double;
}

/* future ------*/
#future{
    width: 50vw;
    margin: 0 auto;
}

.futureMain p{
    font-family: "Meiryo";
    font-size: 1.2rem;
}

.futurecontents{
    background-color: #f9fffe;
    border: 2px #b74e00 solid;
}



/* responsive -----------*/
@media (max-width: 600px){
    html{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    body{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    header{
        margin: 0 auto;
        background-repeat:no-repeat;
        width: 100vw;
        text-align: center;
    }

    .topChar{
        margin: 0 auto;
        color: #b74e00;
    }

    .topChar h1{
        background-color: rgba(249, 255, 254, 0.7);
        margin: 0
    }

    /* top ------ */
    #MainContainer{

    }

    .infoItem img{
        margin: 20px;
    }

    #tajimi img{
        margin: 10px 10px 10px 20px;
    }

    .infoItem{
        width: 100%;
    }

    #mainBox1{
        margin: 0 auto;
    }

    #mainBox2{
        margin: 0 auto;
    }
    #mainBox3{
        margin: 0 auto;
    }
    #mainBox4{
        margin: 0 auto;
    }

    /* info ------ */
    #infoTable{
        width: 100vw;
    }

    .toTop{
        text-align: center;
    }

    /* milestone ------ */
    #milestone{
        width: 100%;
    }

    .subHeader{
        background-position: top;
        background-size: cover;
    }

    main h2{
        text-align: center;
        margin: 5px auto;
    }

    /* present -----*/
    #present{
        width: 100%;
    }
}
